<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About booking</title>
    <style type="text/css">
        header {
          background-image: url(https://th.bing.com/th/id/OIP.3dqUiit6IRzAo8FLDOp9KAHaE8?w=248&h=180&c=7&r=0&o=5&pid=1.7);
       
       width:500px ;
    height: 180px; 
position: absolute;
top:71%;
left: 30%;
border: 2px solid black;}

div .headling{
    font-size:17px;
    word-spacing: 5px;
    font-style: normal;
    font-weight: normal;

} 
.booking{
    font-size: 35px;
    color: crimson ;
}
 .hero h3.rule{
       font-size: 26px;
       color: crimson;
       position: absolute;
       top: 100% ;
       left: 3%;

   } 
   p3{
       font-size: 25px;
       position:absolute;
       left: 40%;
       right: 50%;
       width: 50%;
       top: 145%;
       color: crimson;
   }
  div  .line li{
       font-size: 23px;
      
  
  }
  div  .line{
      position: absolute;
      top: 150%;
      
  }
.rank{
    font-size: 17px;
    word-spacing: 3px;
    position: absolute;
    top: 110%;
}
    </style>
</head>
<header>
   
</header>

<body>

    <div>
        <h1 class="booking">
          Read Carefully All Details About My Tirp:-
        </h1><hr>
        <h2 class="headling">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat totam quaerat fugiat dolor doloribus. Ab
            nostrum sit animi beatae veritatis veniam accusantium cumque quasi aliquam nesciunt provident et, ea nobis,
            soluta, deserunt modi atque laborum voluptatum libero deleniti sunt adipisci natus. Cupiditate adipisci ipsa
            a enim itaque explicabo, distinctio quaerat voluptates exercitationem, aperiam amet sint magni veritatis
            porro temporibus, sequi eius ex aut. Qui culpa, suscipit excepturi ipsum repellendus natus. Aliquid iste
            sunt fugit rerum dignissimos officiis delectus repellendus cum eum tempora eaque voluptate culpa, assumenda
            odio, neque veniam quibusdam ipsum minima repellat. Excepturi fugit eveniet quod corrupti facere, harum quae
            inventore, iste tempora illo natus velit perspiciatis mollitia veniam deserunt labore quo nisi ratione
            temporibus. Pariatur, tenetur. Beatae placeat voluptate enim, repudiandae fugiat error aperiam reiciendis
            ipsam laborum pariatur odit iste nemo minima corporis, repellat sequi libero laboriosam corrupti nam ullam
            commodi reprehenderit. Doloremque cumque quos exercitationem accusantium dolores, architecto dolorum,
            aspernatur dolor esse, perferendis recusandae officia. Eos porro velit dolorem optio nihil, cumque
            architecto ex dolores iusto tempora, impedit quibusdam? Ea ratione ad perspiciatis in molestiae quam,
            quibusdam vitae omnis harum, sequi, repellendus ut debitis reiciendis? Dignissimos dolores dicta iste.
            Itaque quae quod quam explicabo repudiandae mollitia odio optio iure hic est. Neque quia ducimus ad
            molestiae! Nemo cupiditate excepturi maxime odio nostrum eum dolores illo quisquam facere sed cumque numquam
            a harum beatae et dolore vero facilis adipisci, quae soluta corrupti sequi illum ea distinctio. Quas
            corporis earum laudantium, aspernatur itaque dolore quae sequi, atque asperiores aut autem eligendi
            distinctio saepe nihil minus voluptate nisi quaerat illo sint, consequuntur commodi provident molestias
            error ullam. Provident saepe quae voluptatum obcaecati eum quibusdam, laboriosam blanditiis est, rerum
            libero doloremque molestiae! Debitis aut non pariatur corrupti odio ipsam asperiores, officiis dolore qui
            possimus quas sequi tenetur expedita quod culpa porro repellat rem velit ex modi obcaecati. Eveniet dicta
            adipisci iusto animi iure fugit, pariatur esse ab magni ratione facere? Molestias, architecto iste veniam
            beatae quo maxime optio esse fugiat perferendis a voluptates natus provident obcaecati omnis! Officia quis
            illo quae, rem labore odit ipsum deserunt pariatur rerum id excepturi modi dolor error inventore quibusdam
            tenetur facilis necessitatibus nisi velit reprehenderit dignissimos praesentium! Blanditiis architecto hic
            ex velit odio aut, minus veniam. Dicta deleniti perferendis delectus illo alias nesciunt fugit. Ut aliquid
            vitae at quia animi nobis itaque minus nulla maiores non a placeat neque, molestiae laboriosam quod fugiat?
            Itaque, et?</h2<hr>></div>
            <div class="hero">
        <h3 class="rule">

        Plz follow rules and Procedures at Work:-
        </h3><hr>
        <ol class="rank">
            <li> An organization can be defined simply by looking at their employees and the kind of work culture they
                are
                part of. Employees and Culture act as a mirror for your organization face.</li>

            <li> The organization usually imply few pre-defined rules and policies at the work so that everything moves
                on
                smoothly in a proper way. In simple terms, it is a set of rules defined by the organization that needs
                to be
                followed by the employees and employers at the workplace.</li>

            <li> The employees need to follow the rules and policies while working for the organization. By implying
                such
                rules at the workplace, there will be some kind of discipline and seriousness among employees which can
                result in greater productivity. This indirectly helps in the growth of the business.
            </li>
            <li> If the rules and policies are broken, then it will have a strong negative impact on the organization.
                Violation of rules can result in diminishing the culture and ethics of the organization.
            </li>
            <li> To get a more broader idea regarding the importance of rules and policy at work, let us see what is a
                policy
                and procedure and the differences between them.</li>
        </ol><br>
        <p3>What is a Policy?</p3>
        
        <ul class="line">
            <li>
                Find out specific actions </li><br>
            <li>Inform when the actions need to be taken </li><br>
            <li>Explain alternatives </li><br>
            <li>Exhibits emergency procedures </li><br>
            <li>Includes warning and cautions </li><br>
            <li>Provides examples </li><br>
            <li>Shows the way to complete forms </li><br>
            <li>Usually written using an outline format </li><br>

        </ul>
    </div>
    
</body>

</html>